# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Provide examples of evaluating arithmetic expressions in Python
- Demonstrate how to create tables in markdown

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplolib
4. Scikit Learn

## Data Science Tools

| Data Science Tools             |
|--------------------------------|
| Jupyter Notebook               |
| RStudio                        |
| Apache Zeppelin                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Tahir Mehmood